* {
box-sizing: border-box;
font-family: 'Taviraj', serif;
}
.body {
background: #F7F6F4;
display: flex;
flex-direction: column;
max-width: 1110px;
align-items: center;
margin: auto;
}
li {
    list-style: none;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}

.header {
height: 100px;
width: 100%;
color: #333;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.5px;
margin-bottom: 40px;
}
.header-1 {
display: flex;
justify-content: space-between;  
margin: 20px 10px 250px 0;
height: 50px;
flex-wrap: wrap;
width: 100%;
}
.header-1-matoa
{
width: 178px;
height: 22px;
text-align: center;
margin: auto 50px;
}
.header-1-medio {
margin: auto;
display: flex;
justify-content: space-evenly;
width: 45%;
color: #333;
font-family: Taviraj;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.4px;
}
.header-1-final {
display: flex;
justify-content: space-around;
align-items: center;
color: #333;
font-family: Taviraj;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.36px;
width:25%;
margin: auto;
}
.header-1-final-login svg {
width: 32px;
height: 32px;
flex-shrink: 0;
margin: auto 5px;
}
.header-1-final-login {
    display: flex;
}
.carrito-circulo {
height: 50px;
width: 50px;
}
#circulo {
position: absolute;
fill: #F1DDC9;
}
#carrito {
position: relative;
top: 10px;
left: 10px;
}
.reloj-way-general {
height: 510px;
background: #F1DDC9;
position: relative;
width: 100%;
}
.reloj-way {
    width: 100%;
display: flex;
height: 510px;
}
.reloj-way_imagen-reloj {
width: 30%;

}
.reloj-way_imagen-reloj img {
width: 325px;
height: 467px;
flex-shrink: 0;
position: absolute;
top: 116px;
left: 14px;
}
.reloj-way_medio {
padding-top: 40px ;
width: 60%;
display: flex;
flex-direction: column;
align-items: center;
}
#way-kambas {
width: 70%;
color: #333;
font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: 80px;
letter-spacing: 1.2px;
margin: 0px;
position: relative;
}
#way-kambas::after {
background-color: rgba(0, 0, 0, 0.774);
content: "";
width: 20%;
height: 1px;
position: absolute;
top: 100%;
left: 0
}
.reloj-way_medio_medio {
width: 70%;
color: #333;
font-family: 'Nunito Sans', sans-serif;font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
}
.reloj-way_medio_medio p:last-child {
font-weight: 600;
}
.reloj-way_add-to-car {
display: flex;
width: 70%;
justify-content: space-around;
padding-right: 150px;
}
.reloj-way_add-to-car_1 {
color: #FFF;
font-family: Taviraj;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.4px;
display: flex;
align-items: center;
background-color: #D84727;
width: 230px;
height: 70px;
justify-content: center;
border: red;
}
.reloj-way_add-to-car_1 button:hover {
background-color: #000;
}
.reloj-way_add-to-car_1:hover {
background-color: #9b9b9b;
transition: 1s;
border: solid 1px black;
}
.reloj-way_add-to-car_2 {
display: flex;
align-items: center;
border: 2px solid #D84727;
width: 150px;
height: 70px;
justify-content: center;
background: #F1DDC9;
}
.reloj-way_add-to-car_2:hover {
background-color: #9b9b9b;
transition: 1s;
border: solid 1px black;
}
.reloj-way_add-to-car_2 svg {
width: 100px;
height: 25px;
}
.reloj-way_final {
display: flex;
width: 10%;
justify-content: end;
}
.reloj-way-final_bottom {
display: flex;
flex-direction: row;
justify-content: end;
position: absolute;
bottom: -25px;
flex-shrink: 0;
padding: 0;
border: red;
}
.reloj-way-final_bottom button{
display: flex;
flex-direction: row;
justify-content: end;
position: absolute;
bottom: -25px;
flex-shrink: 0;
color: none;
background-color: #000;
list-style: none;
text-decoration: none;
border: 0 ;
padding: 0;
}
.reloj-way_bottom1:hover {
background-color: #9b9b9b;
transition: 1s;
border: solid 1px black;
}

.reloj-way_bottom1 {
width: 60px;
height: 60px;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
border: 2px solid #D84727;
}
.reloj-way_bottom2 {
width: 60px;
height: 60px;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
border: 2px solid #D84727;
background: #D84727;
}
.reloj-way_bottom2:hover {
    background-color: #9b9b9b;
    transition: 1s;
    border: solid 1px black;
}
.reloj-way_bottom1 svg {
width: 32px;
height: 32px;
flex-shrink: 0;

}
.lentes-reloj {
width: 100%;
margin-top: 100px;
display: flex;
height: 270px;
justify-content: space-around;
}

.lentes-reloj_lentes {
width: 47.5%;
height: 270px;
flex-shrink: 0;
display: flex;
justify-content: center;
background-color:#FFFFFF ;

}
.lentes-reloj_lentes-1 {
width: 100%;
display: flex;
flex-direction: column;
align-items: start;

}
.luxurious-everywear {
display: flex;
margin-top: 10px ;
margin-bottom: 28px;
}
#luxuriousp {
color: #777;
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.48px;
width: 345px;
height: 50px;
flex-shrink: 0;    
}
.luxurious-everywear p {
color: #777;
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.48px;
}
#eyewear {
color: #333;
font-family: Taviraj;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 32px;
letter-spacing: 0.84px;
margin-left: 6px;
}
#discovernow{
color: #333;
font-family: Taviraj;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.48px;
position: relative;
width: max-content;
}
#discovernow::after {
content: "";
width: 100%;
height: 1px;
background-color: black;
position: absolute;
top: 100%;
left: 0;
}
#luxurious {
color: #333;
font-family: Taviraj;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 114.286% */
letter-spacing: 0.84px;
}
.lentes-reloj_lentes-1 p{
margin-bottom: 0;
margin-top: 10px ;
font-size: 16px;
}
.lentes-reloj_lentes-1 img {
position: relative;
left: 169px;
top: -50px;
width: 250px;
height: 130px;
flex-shrink: 0;
}
.lentes-reloj_reloj {
width: 47.5%;
height: 270px;
flex-shrink: 0;
background-color: #FFFFFF;
display: flex;
justify-content: center;
}
.lentes-reloj_reloj-1 {
width: 90%;
display: flex;
flex-direction: column;
align-items: start;
}
.relojs-1-p {
display: flex;
width: 10px;
}
.relojs-1-p p {
margin-top: 20px;
}
.lentes-reloj-p {
width: 345px;
height: 50px;
flex-shrink: 0;
color: #777;
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.48px;
}
.lentes-reloj-p p {
    margin: 0;
}

.lentes-reloj_reloj-1 img {
width: 155px;
height: 152px;
flex-shrink: 0;    
position: relative;
left: 190px;
top: -77px;
width: 150px;
}

.Monthlydeals {
color: #333;
font-family: 'Taviraj';
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
margin-bottom: 10px;
position: relative;
width: 100%;
}
.Monthlydeals p {
    text-align: start;
}
.Monthlydeals p::after {
width: 10%;
height: 1px;
content: "";
background-color: black;
position: absolute;
top: 75%;
left: 0;
}

.Monthlydeals-watches {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
height: 505px;
flex-shrink: 0;
}
.Monthlydeals-watches p {
margin: 0;
}
.m1 {
margin: 0;
width: 100%;
max-width: 240px;
height: 412px;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: start;
background-color: #FFF;
align-items: center;
position: relative;
}
.m1 img {
    max-width: 185px;
    width: 75%;
    height: 50%;
    position: relative;
    top: -40px;
}

.m2 {
margin: 0;
width: 100%;
max-width: 230px;
height: 412px;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: start;
background-color: #FFF;
align-items: center;
position: relative;
}
.m2 img {
    max-width: 185px;
    width: 75%;
    height: 50%;
    position: relative;
    top: -40px;
}
.m3 {
margin: 0;
width: 100%;
max-width: 240px;
height: 412px;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: start;
background-color: #FFF;
align-items: center;
position: relative;
}
.m3 img {
    max-width: 185px;
    position: relative;
    width: 75%;
    height: 50%;
    top: -40px;
}
.m4 {
margin: 0;
width: 100%;
max-width: 240px;
height: 412px;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: start;
background-color: #FFF;
align-items: center;
position: relative;
}
.m4 img {
    max-width: 185px;
    width: 75%;
    height: 50%;
    position: relative;
    top: -40px;
}
.m1-p :first-child{
color: #333;
font-family: Taviraj;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 133.333% */
}
.m1-p :nth-child(2) {
color: #777;
font-family: Taviraj;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.m1-p :nth-child(3) {
color: #777;
font-family: Taviraj;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
text-decoration: line-through red;
}
.m1-p :nth-child(4) {
color: #333;
font-family: Taviraj;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
}
.m2-p :first-child{
color: #333;
font-family: Taviraj;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 133.333% */
}
.m2-p :nth-child(2) {
color: #777;
font-family: Taviraj;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.m2-p :nth-child(3) {
color: #777;
font-family: Taviraj;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
text-decoration: line-through red;
}
.m2-p :nth-child(4) {
color: #333;
font-family: Taviraj;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
}
.m3-p :first-child{
color: #333;
font-family: Taviraj;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 133.333% */
}
.m3-p :nth-child(2) {
color: #777;
font-family: Taviraj;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.m3-p :nth-child(3) {
color: #777;
font-family: Taviraj;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
text-decoration: line-through red;
}
.m3-p :nth-child(4) {
color: #333;
font-family: Taviraj;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
}
.m4-p {
    width: 80%;
}
.m4-p :first-child{
color: #333;
font-family: Taviraj;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 133.333% */
}
.m4-p :nth-child(2) {
color: #777;
font-family: Taviraj;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.m4-p :nth-child(3) {
color: #777;
font-family: Taviraj;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
text-decoration: line-through red;
}
.m4-p :nth-child(4) {
color: #333;
font-family: Taviraj;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
}
.m2-p_add-to-car {
display: flex;
justify-content: start;
margin-top: 10px;
}
.m2-p_add-to-car button:first-child {
    border: none;
    background-color: #FFF;
    padding: 10px 5px;
    width: max-content;
}
.m2-p_add-to-car button:last-child {
    border: none;
    background-color: #fff;
}
.m2-p_add-to-car svg:hover {
    transition: 2s;
    background-color: #9b9b9b;
}
.m2-p_add-to-car button p:hover {
    background-color:#9b9b9b ;
    transition: 1s;
}

.m2-p_add-to-car svg {
width: 40px;
height: 40px;
background-color: white;
display: flex;
border: solid red 1px;
padding: 6px;
margin-right: 10px;
text-align: center;
margin: auto;
}
.m2-p_add-to-car p {
padding: 0px 40px 0px 40px;
background-color: red;
color: #FFF;
font-family: Taviraj;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 1px;
display: flex;
align-items: center;
height: 40px;
}
.recent-news {
display: flex;
justify-content: space-between;
margin-top:100px ;
margin-bottom: 200px;
width: 100%;
}

.recents-where {
display: flex;
flex-direction: column;
justify-content: space-around ;
height: 100%;
}
.recent-where p {
margin: 0;
padding: 0;
}
.recent-where button {
    border: transparent;
    background-color: #F7F6F4;
    width: 100%;
    height: 100%;
}
.recent-news button:hover {
    background-color:#9b9b9b ;
    transition: 1.5s;
}
#recent-news-p {
color: #333;
font-family: Taviraj;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
width: 100%;
margin-bottom: 100px;
position: relative;
}
#recent-news-p::after {
width: 40%;
height: 1px;
background-color: black;
content: "";
position: absolute;
top: 120%;
left: 0;
}
.recent-news_where {
display: flex;
flex-direction: column;
justify-content: center;
}
.recent-where:nth-of-type(1) {
color: #777;
font-family: Taviraj;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 0.4px;
}
.recent-where:nth-of-type(2) {
color: #333;
font-family: Taviraj;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 48px; /* 133.333% */
letter-spacing: 0.72px;
margin-bottom: 25px;
}
.recent-where:nth-of-type(3) {
display: flex;
align-items: center;
justify-content: center;
color: #D84727;
font-family: Taviraj;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.32px;
border: solid 2px red;
width: 160px;
height: 58px;
flex-shrink: 0;
text-align: center;
}

.recent-news_img {
background-color:#F1DDC9;
position: relative;
width: 420px;
height: 350px;
flex-shrink: 0;
}
.recent-news_img img {
width: 420px;
height: 350px;
flex-shrink: 0;
position: relative;
top: 54px;
right: 179px;
}
.tipos-reloj {
display: flex;
width: 100%;
justify-content: space-between;
}
.tipos-reloj p {
    width: max-content;
position: relative;
margin-right: 170px;
}
.tipos-reloj p::after {
background-color: black;
width: 50%;
height: 1px;
content: "";
position: absolute;
top: 100%;
left: 0;}

.tipos-reloj p {
color: #333;
font-family: Taviraj;
font-size: 36px;
font-style: normal;
font-weight: 00;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
}
.reloj-central-cuadro {
display: flex;
flex-flow: wrap;
width: 100%;
justify-content: center;
}
.tipos-reloj-central {
display: flex;
width: 33.3%;
height: 200px;
}
.imagen-tipo-reloj {
width: 131px;
height: 131px;
flex-shrink: 0;
display: flex;
justify-content: center;
align-items: center;
background-color: #F1DDC9;
margin-right:30px ;
}
.imagen-tipo-reloj img {
width: 68.067px;
height: 100px;
flex-shrink: 0;
display: flex;
flex-shrink: 0;
}
.tipos-reloj-central-1 p {
    margin: 5px;
}

#a {
color: #333;
font-family: Taviraj;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
letter-spacing: 0.48px;
}
#segundo-texto {
color: #222;
font-family: Taviraj;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 142.857% */
letter-spacing: 0.56px;    
}
#segundo-texto-descuento {
color: #777;
font-family: Taviraj;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
text-decoration: line-through red;
}
.rara .imagen-tipo-reloj img {
width: 113px;
height: 55px;
flex-shrink: 0;
}
.see-more {
display:flex;
justify-content: center;
color: #D84727;
margin: auto;
font-family: Taviraj;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
border: 1px solid #D84727;
padding: 15px 75px;
background-color: #F7F6F4;
height: 70px;
align-items: center;
}
.see-more:hover {
    background-color: #9b9b9b;
    transition: 1s;
}
.see-more button {
    border: none;
    background-color: red;
}
.testimonials {
width: 100% ;
margin-top: 100px;
display: flex;
}

.img-testimonials {
background: #F1DDC9;
width: 515px;
height: 300px;
flex-shrink: 0;

}
.img-testimonials img {
width: 515px;
height: 300px;
flex-shrink: 0;
position: relative;
top: 64px;
left: 50px

}
.testimonials-p {
margin: auto;
width: 450px;
}
.testimonials-p h2 {
color: #333;
font-family: Taviraj;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
position: relative;
width: max-content;
}
.testimonials-p h2::after {
content: "";
background-color: black;
height: 1px;
width: 60%;
position: absolute;
top: 100%;
left: 0;
}
.testimonials-p h2 + * {
color: #333;
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
letter-spacing: 0.48px;
} 

.testimonials-p h3 {
color: #333;
font-family: Taviraj;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 133.333% */
letter-spacing: 0.72px;
}
.testimonials-p h3 + * {
color: #777;
font-family: Taviraj;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 32px; /* 200% */
letter-spacing: 0.48px;
}
.testimonials-flechas {
margin-top: 70px;
margin-left: 150px;
}
.testimonials-flechas svg:hover {
    background-color: #9b9b9b;
    transition: 1s;
}
.testimonials-flechas button {
    background-color: #F7F6F4;
    border: none;
}
.instagram {
    width: 100%;
}
.instagram p {
color: #333;
font-family: Taviraj;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
position: relative;
width: max-content;
margin-left: 165px;
}
.instagram p::after {
position: absolute;
width: 70%;
height: 1px;
background-color: black;
content: "";
top: 120%;
left: 0;
}
.instagram-fotos {
display: flex;
justify-content: center;
width: 100%;
flex-wrap: wrap;
margin-bottom: 100px;
}
.instagram-fotos img {
width: 222px;
height: 222px;
flex-shrink: 0;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-1 {
background: #DA5E42;
display: flex;
justify-content: center;
flex-wrap: wrap;
width: 100%;
height: 273px;
flex-shrink: 0;
margin: 0;
}
.footer-1 img {
width: 100px;
height: 100px;
flex-shrink: 0;
margin: 0 75px;
}

.footer2 {
background: #D84727;
display: flex;
justify-content: space-evenly;
align-items: start;
width: 100%;
height:max-content ;
}
.footer2 h2 {
color: #FFF;
font-family: Taviraj;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.48px;
}
.footer2 p {
color: white;
color: #FFF;
font-family: Taviraj;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 200% */
letter-spacing: 0.48px;
}
.footer2 img {  
display: block;
margin-block-start: 2.5em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
.footer2 h2 {
position: relative;
width: max-content;
}
.footer h2::after {
position: absolute;
width: 50%;
height: 1px;
top: 100%;
left: 0;
content: "";
background-color: white;
}
.footer-2-1 {
height: max-content;
}
.footer2-1-text p{
margin: 0;
}
.footer-2-1 h3 {
margin-top: 30px;
margin-bottom: 0;
color: #FFF;
font-family: Taviraj;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.4px;
}
.footer2-1-text2 h3{
color: #FFF;
font-family: Taviraj;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.4px;
margin-bottom: 0;
}
.footer2-1-text2 p {
width: 150px;
margin-top: 10px;
}
.footer-2-agrupacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}
.footer-2-agrupacion p {
    margin: 8px 0;
}
.footer-2-2 {
    width: max-content;
}
.footer-2-2-primeralinea {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer-2-2-primeralinea p:first-child {
color: #FFF;
font-family: Taviraj;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.4px;
}
.footer-2-2-primeralinea p:nth-child(2) {
    width: 120px;
}
.footer-2-2-segundalinea {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer-2-2-segundalinea p:first-child {
    color: #FFF;
font-family: Taviraj;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.4px;
width: min-content;
}
.footer-2-2-segundalinea p:nth-child(2) {
    width: 120px;
}
.footer-2-2-terceralinea {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer-2-2-terceralinea p:first-child {
    color: #FFF;
font-family: Taviraj;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.4px;
    width: min-content;
}
.footer-2-svg {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-2-3 p {
    margin: 0;
}
.footer-2-4 p {
    margin: 0;
}
@media screen and (min-width:771px) and (max-width:900px) {
    .footer-1 {
        justify-content: center;
        width: 90%;
        height: 500px;
        flex-wrap: wrap;
        margin: auto;
    } 
}
@media screen  and (min-width:771px) and (max-width:1115px) {
    .img-testimonials img {
        top: 0;
        left: 0;
    }
    .footer2 {
        justify-content: center;
        width: 100%;
        height: max-content;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    }
    .footer-2-1 {
        margin:  0 100px;
    }
    .footer-2-2 {
        margin:  0 100px;
    }
    .footer-2-3 {
        margin:  0 100px;
    }
    .footer-2-4 {
        margin:  0 100px;
    }
}

@media screen and (max-width: 992px){
    .body {
        width: 100%;
        background-color: #fff;
    }
.header-1{
    flex-wrap: wrap;
}
.header-1-matoa {
    margin: 0;
    width:200px;
    height: max-content;
    margin: auto;
}
.header-1-medio {
    margin: 0;
    width: 100%;
    height: max-content;
    margin: auto;
}
.header-1-medio li {
margin: 10px;
}
.header-1-final {
    width:100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
}
.reloj-way-general {
    margin-top:50px ;
    margin-bottom: 85px;
}
.reloj-way_imagen-reloj img {
    margin: auto;
    width: 36%;
    max-width:250px ;
    height: 50%;
    left: 0;
}
#way-kambas {
    font-size: medium;
    line-height: 30px;
}
.reloj-way_add-to-car {
    padding: 0;
    position: absolute;
    top: 423px;
    right: 164px;
    width: 200px;
    height: max-content;
}
.reloj-way_add-to-car_1 {
    height: 50px;
}
.reloj-way_add-to-car_2 {
    height: 50px;
    width: 50%;
}

.reloj-way-final_bottom {
    right: 10px;
    top: 423px;
    height: max-content;
}
.reloj-way_bottom1 {
    height: 50px;
}
.reloj-way_bottom2 {
    height: 50px;
}

.lentes-reloj {
    margin-top: 0;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.lentes-reloj_lentes {
    min-width: 350px;
    width: 100%;
}
.lentes-reloj_reloj {
    min-width: 350px;
    width: 100%;
    justify-content: start;
}

#luxurious {
    font-size: medium;
}
#eyewear {
    font-size: medium;
}
.lentes-reloj img {
    width: 150px;
    height: 80px;
}
.lentes-reloj_reloj-1 img {
    width: 100px;
    left: 197px;
    top: -49px;
}
.Monthlydeals {
    margin-top: 250px;
    margin-bottom: 120px;
}
.Monthlydeals-watches {
    width: 100%;
    flex-direction: row;
    height: 400px;
    align-items: start;
    justify-content: center;

}
.Monthlydeals-watches img {
    width: 50%;
    height: 50%;
}
.m1 {
    width: 25%;
    height: max-content;
}
.m1 p {
    text-align: center;
 }
 .m2 p {
    text-align: center;
 }
 .m3 p {
    text-align: center;
 }
.m4 p {
   text-align: center;
}
.m2 {
    width: 25%;
    height: max-content;
}
.m2-p_add-to-car {
    left: -34px;
}
.m3 {
    width: 25%;
    height: max-content;
}
.m4 {
    width: 25%;
    height: max-content;
}
.Monthlydeals-watches p:first-child {
    font-size: medium;
}
.Monthlydeals-watches p:nth-child(4) {
    font-size: medium;
}
.m2-p_add-to-car {
    position: relative;
    width: max-content;
    top: 32px;

}
.m2-p_add-to-car p {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: medium;
    padding: 0;
    width: 90px;
    margin: auto;
    text-align: center;
}
.m2-p_add-to-car svg {
    position: absolute;
    left: 25px;
    top: -40px;
}
.recent-news {
    margin-top: 0px;
    height: max-content;
    margin-bottom: 50px;
    width: 100%;
    justify-content: center;
}
.recent-news_img {
    width: 150px;
    height: 150px;
}
.recent-news_img img {
    width: 150px;
    height: 150px;
    top: 30px;
    right: -8px;
}
#recent-news-p {
    margin: 0;
}
.tipos-reloj {
    width: 100%;
    justify-content: space-around;
}
.tipos-reloj p  {
    margin: auto;
    font-size: medium;
    margin: 0;
}
.reloj-central-cuadro img {
    width: 70px;
    height: 70px;
}
.tipos-reloj-central {
    align-items: center;
}
#a {
    font-size: medium;
    margin: 0;
}
#segundo-texto {
    font-size: medium;
    margin: 0;
}
.segundo-texto-descuento {
    margin: 0;
    font-size: medium;
}
.tipos-reloj-central {
    flex-direction: column;
    height: 285px;
}
.see-more {
    font-size: large;
}

.testimonials {
    flex-direction: column-reverse;

}
.testimonials-p {
    width: 90%;
}
.img-testimonials {
    width: 300px;
    height: 200px;
}
.img-testimonials img {
    width: 300px;
    height: 200px;
    left: 71px;
}
.instagram p {
    margin-left: 100px;
}
.instagram-fotos {
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
}
.instagram-fotos img {
    width: 190px;
    height: 190px;
}

.footer-1 {
    width: 100%;
    height: max-content;
}
.footer-1 img {
    margin: 15px;
    width: 75px;
    height: 75px;
}


.footer2 {
    flex-wrap: wrap;
    justify-content: start;
}

.footer2 h2, h3 {
    font-size: medium
}
.footer2 p {
    font-size: small;
}
.footer-2-2-segundalinea {
    justify-content: start;
    height: max-content;
}
.footer-2-svg {
margin: 20px;
}
.footer-2-3 {
margin-right: 30px;
}
.footer-2-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 400px;
    margin: auto;
}
.footer-2-2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 400px;
    margin: auto;
}
.footer-2-3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 400px;
    margin: auto;
}
.footer-2-4 {
display: flex;
flex-direction: column;
align-items: start;
width: 400px;
margin: auto;
}
.footer-2-4 p {
    width: max-content;
}
.footer-2-2-segundalinea {
    justify-content: space-between;
}
.footer2-1-text2 {
margin
}
}